<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
      {{ page_title }}
      {% if current_page != 1 %} – {{ 'general.pagination.page' | t: number: current_page }}{% endif %}
      {% if current_tags %} – {{ current_tags | join: ', ' }}{% endif %}
      {% unless page_title contains shop.name %} – {{ shop.name }}{% endunless %}
    </title>
    {{ content_for_header }}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    <script>
      window.themeMoneyFormat = {{ shop.money_format | json }};
      window.themeCurrency = {{ shop.currency | json }};
      window.themeStrings = {
        'cart.empty': {{ 'cart.empty' | t | json }}
      };
    </script>
  </head>
  <body>
    {% section 'header' %}
    <main id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}
    {% section 'cart-drawer' %}
    {{ 'theme.js' | asset_url | script_tag }}
  </body>
</html>